OBB_PORT=8000

OBB_WIZARD_BASE_URL=http://wizard:8000

OBB_DB_HOST=postgres
OBB_DB_PORT=5432
OBB_DB_DATABASE=omnibox
OBB_DB_USERNAME=omnibox
OBB_DB_PASSWORD=omnibox
OBB_DB_LOGGING=true
OBB_DB_SYNC=true

OBB_JWT_SECRET=your-secret-key
OBB_JWT_EXPIRE=2678400s

OBB_MAIL_TRANSPORT=smtps://your-email@example.com:your-email-password@smtp.example.com:465
OBB_MAIL_FROM="No Reply <no-reply@example.com>"

OBB_MINIO_ENDPOINT=http://username:password@localhost:9000
OBB_MINIO_BUCKET=omnibox-default
