<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta content="<%= error %>" name="description" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= error %></p>
  </body>
</html>
