<!DOCTYPE html>
<html>

<head>
  <title>Verify Your Email Address</title>
</head>

<body>
  <h1>Email Verification</h1>
  <p>Please use the following code to verify your email address:</p>
  <p><strong>{{code}}</strong></p>
  <p>This code will expire in 5 minutes.</p>
</body>

</html>