<!DOCTYPE html>
<html>

<head>
  <title>Invite You to Join the Space</title>
</head>

<body>
  <h1>Invitation to Join the Space</h1>
  <p>Please click the link below to join the space:</p>
  <p><a href="{{resetUrl}}">Join</a></p>
  <p>This link will expire in 1 hour.</p>
</body>

</html>