<!DOCTYPE html>
<html>
<head>
  <title>注册帐户</title>
</head>
<body>
  <h1>注册帐户请求</h1>
  <p>我们收到了您注册帐户的请求。请点击下面的链接来注册您的账户：</p>
  <p><a href="{{resetUrl}}">注册帐户</a></p>
  <p>如果您没有请求注册帐户，请忽略此邮件。</p>
  <p>此链接将在1小时后失效。</p>
</body>
</html> 