<!DOCTYPE html>
<html>
<head>
  <title>注册账户</title>
</head>
<body>
  <h1>注册账户请求</h1>
  <p>我们已收到您注册账户的请求。请点击下方链接来注册您的账户：</p>
  <p><a href="{{resetUrl}}">注册账户</a></p>
  <p>如果您没有请求注册账户，请忽略此邮件。</p>
  <p>此链接将在1小时后过期。</p>
</body>
</html>